.App {
  text-align: center;
}

.Layout {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.Home {
  width: 100%;
  height: 100%;
}

.Carousel {
  height: 33%;
  border: 2px solid blue;
}

.Footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
