/* * */

.App {
  text-align: center;
}

/* LAYOUT COMPONENT */

.Layout {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

/* HOME COMPONENT */

.Home {
  width: 100%;
  height: 100%;
}

.home-header {
  display: flex;
  height: 33%;
  width: 100%;
  border: 5px solid red;
}

.home-header .left {
  height: 100%;
  width: 25%;
  border: 5px solid orange;
}

.home-header .middle {
  height: 100%;
  width: 50%;
  border: 5px solid orange;
}
.home-header .right {
  height: 100%;
  width: 25%;
  border: 5px solid orange;
}

.home-header .middle .Carousel {
  height: 100%;
  width: 100%;
  border: 2px solid blue;
}

/* FOOTER COMPONENT */

.Footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid gray;
}
